APP_BASE_URL=https://ourroot.duckdns.org
AUTH0_DOMAIN=xxxxxxxxxxxx
AUTH0_CLIENT_ID=xxxxxxxxxxxx
AUTH0_CLIENT_SECRET=xxxxxxxxxxxx
AUTH0_SECRET=xxxxxxxxxxxx
NEXT_PUBLIC_BACKEND_URL=https://ourroot.duckdns.org/api
SANITY_PROJECT_ID=xxxxxxxxxxxx
SANITY_DATASET=production
SANITY_API_VERSION=2026-05-22
SANITY_TOKEN=xxxxxxxxxxxx
NEXT_PUBLIC_ENABLE_AMEN_AI=false
NEXT_PUBLIC_ENABLE_STRIPE=false

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=